<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta charset="utf-8">
    @Styles.Render("~/Content/css")
    <title>Eugenie - 500</title>
</head>
<body class="fixed-header error-page  windows desktop pace-done">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div class="container-xs-height full-height">
        <div class="row-xs-height">
            <div class="col-xs-height col-middle">
                <div class="error-container text-center">
                    <h1 class="error-number">404</h1>
                    <h2 class="semi-bold">Sorry but we couldnt find this page</h2>
                </div>
            </div>
        </div>
    </div>
</body>
</html>