<li>
    <a href="/management/products" class="detailed">
        <span class="title">Продукти</span>
    </a>
    <span class="bg-success icon-thumbnail"><i class="pg-home"></i></span>
</li>
<li>
    <a href="/management/reports" class="detailed">
        <span class="title">Отчети</span>
    </a>
    <span class="icon-thumbnail">W</span>
</li>
<li>
    <a href="/management/stores/liststores" class="detailed">
        <span class="title">Магазини</span>
    </a>
    <span class="icon-thumbnail">W</span>
</li>
<li>
    <a href="/management/stores/addstore" class="detailed">
        <span class="title">Добави магазин</span>
    </a>
    <span class="icon-thumbnail">W</span>
</li>