@model EugenieWeb.Web.Areas.Management.Helpers.WebApiModels.Shipment
    
<tr role="row">
    <td class="v-align-middle semi-bold">@Model.Name</td>
    <td class="v-align-middle">@Model.SellingPrice</td>
    <td class="v-align-middle semi-bold">@Model.Quantity</td>
</tr>