@model EugenieWeb.Web.Areas.Management.ViewModels.Stores.StoreViewModel
    
<tr role="row">
    <td class="v-align-middle sorting_1">
        <p>@Model.Name</p>
    </td>
    <td class="v-align-middle">
        <p>@Model.Username</p>
    </td>
    <td class="v-align-middle">
        <p>@Model.Url</p>
    </td>
    <td class="v-align-middle">
        <button class="btn btn-danger btn-cons">Изтрий</button>
    </td>
</tr>