<li>
    <a href="/administration/users" class="detailed">
        <span class="title">Потребители</span>
    </a>
    <span class="bg-success icon-thumbnail"><i class="pg-home"></i></span>
</li>
<li>
    <a href="/administration/stores" class="detailed">
        <span class="title">Магазини</span>
    </a>
    <span class="icon-thumbnail">W</span>
</li>
<li>
    <a href="/administration/downloads" class="detailed">
        <span class="title">Изтегляния</span>
    </a>
    <span class="icon-thumbnail">W</span>
</li>
<li>
    <a href="/administration/backups" class="detailed">
        <span class="title">Бекъпи</span>
    </a>
    <span class="icon-thumbnail">W</span>
</li>
<li>
    <a href="/administration/messages" class="detailed">
        <span class="title">Съобщения</span>
    </a>
    <span class="icon-thumbnail">W</span>
</li>