@model ICollection<EugenieWeb.Web.Areas.Management.Helpers.WebApiModels.Report>
@{
    ViewBag.Title = "Отчети";
}

<div class="panel-body">
    <div class="table-responsive">
        <div id="basicTable_wrapper" class="dataTables_wrapper form-inline no-footer">
            <table class="table table-hover dataTable no-footer" id="basicTable" role="grid">
                <thead>
                    <tr role="row">
                        <th>Дата</th>
                        <th>Стокооборот</th>
                        <th>Оборот</th>
                        <th>Брак</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var report in Model)
                    {
                        @Html.DisplayFor(m => report)
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>